:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:10px;

}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url('../img/capa-house.jpg');

  height: 450px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:5px;
}

*{
    margin: 0;
    padding: 0;
}

#bg{

    width: 100%;
    height: 100%
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .8);
    position: fixed;
    display: none;
}
 
 #bg:target{
    display: block;
}

#bg:target ~ .box{
    top: 150px;
    transition: all .3s;
    transition-delay: .2s;
}

.box{
  
    width: 720px;
    height: : 405px;
    position: absolute;
    margin-left: -360px;
    left: 50%;
    top: -610px;
}

.box img{
    
     width: 100%;
     position: absolute;
}

#close{
    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    background-color: #000;
    width: 40px;
    height: 40px;
    text-align:	center;
    right: 0;
}

#close:hover{
    opacity: .6;
}







